@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:wght@400;700;900&display=swap');

@font-face {
    font-family: 'gaiadisplay';
    src: url('gaia-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

// Screen size
$mobile: 649px;
$tablet: 768px;
$desktop: 1024px;
$widescreen: 1249px;

// Font size
$fs-banner: 8.5rem; // 136px
$fs-huge: 4.5rem; // 72px
$fs-0: 3.5rem; //60px
$fs-1: 2.5rem; //40px
$fs-2: 2rem; //32px;
$fs-3: 1.5rem; //24px;
$fs-4: 1.25rem; //20px;
$fs-5: 1.125rem; //18px
$fs-6: 1rem; //16px
$fs-7: .875rem; //14px

// Fonts
$ff-heading: "gaiadisplay", serif;
$ff-body: "Inter", sans-serif;

// Font weight
$fw-100: 100;
$fw-200: 200;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;

// Colours
$clr-primary: #B0D391;
$clr-secondry: navy;
$black: #111111;
$white: #fefefe;
$site-color: $white;

// Border radius
$br-medium: 14px;
$br-large: 2rem;

// Shadows
$box-shadow-subtle: 0 0 7px 2px rgba(0,0,0,.1);
$box-shadow-hard: 4px 5px 0 0 $black;