---
layout: base.njk 
title: Stef's Web Fodder
---

<div class="body-bg"></div>

<div class="section hero">
    <div class="hero-body">
        <div class="container">
            <h1>Title</h1>
        </div>
    </div>
</div>
