---
layout: base.njk 
title: Stef's Web Fodder
---

<div class="body-bg"></div>

<div class="section hero">
    <div class="hero-body">
        <div class="container">
            <div class="banner-title">
                <div class="banner-title_wrapper">
                    <h1 class="banner-title_text">Stef’s web</h1>
                    <h1 class="banner-title_text">fodder</h1>
                </div>
            </div>
        </div>
    </div>
</div>
