@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as m;
@use '../components/keyframes' as a;

/* //////////////////////
	Header
  /////////////////////// */

#header {
	position: relative;
	background: $black;
	padding: 2.8rem;
	display: flex;
	justify-content: end;

	&:before {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 0;
		height: 1px;
		background: $grey-dark;
        animation: borderwidth 2s cubic-bezier(0.16, 1, 0.3, 1) forwards;

		@include m.tableth {
			display: none;
		}
	}

	@keyframes borderwidth {
		to {
			width: 100%;
		}
	}
	
	@include m.tableth {
		padding: 1.5rem 1.5rem 0;
		position: sticky;
		top: 0;
		border-bottom: none;
		background: none;
		z-index: 999;
	}
}