@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as m;

/* //////////////////////
	Header
  /////////////////////// */

#header {
	background: $black;
	border-bottom: $border-grey-dark;
	padding: 2.8rem;
	display: flex;
	justify-content: end;
	
	@include m.tableth {
		padding: 1.5rem 1.5rem 0;
		position: sticky;
		top: 0;
		border-bottom: none;
		background: none;
	}
}