@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as m;

// <div class="hamburger">
//     <span></span>
//     <span></span>
//     <span></span>
// </div>

// const hamburger = document.querySelector('.navbar-burger')
// hamburger.addEventListener('click', e => {
//     document.documentElement.classList.toggle('has-menu-active');
// })

.hamburger {
	display: block;
	width: 30px;
	height: 20px;
	cursor: pointer;
	position: relative;

	span {
		display: block;
		position: absolute;
		height: 3px;
		width: 100%;
		background: #333;
		border-radius: 3px;
		transition: transform 0.3s ease;

		&:first-child {
			top: 0;
		}

		&:nth-child(2) {
			top: 8px;
		}

		&:nth-child(3) {
			top: 16px;
		}

		html.has-menu-active & {
			&:first-child {
				transform: translateY(8px) rotate(-45deg);
			}

			&:nth-child(2) {
				opacity: 0;
			}
			
			&:nth-child(3) {
				transform: translateY(-8px) rotate(45deg);
			}
		}
	}
}