@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as m;

/* //////////////////////
	General styling
  /////////////////////// */

html {
	scroll-behavior: smooth;
}

body {
	background: $black;

	.site-wrapper {
		display: flex;
		width: 100%;
		height: 100%;
	}
}
