@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as m;

/* typgraphy */
body {
    color: $white;
    font-family: $ff-body;
    font-weight: $fw-200;
}

h1, h2, h3, h4, h5, h6, ul:not(.body-copy) {
    font-family: $ff-heading;
}

h1 {
    font-size: $fs-huge;
    line-height: .9;

    &:first-child {
        color: $creme;
    }
    
    &:nth-child(2) {
        font-style: italic;
        font-weight: $fw-100;
        color: $orange;
        margin-left: -10px;
        transform: scale(0);
        transform-origin: center;
        animation: scaleup .5s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
        animation-delay: .5s;
        
        @include m.tableth {
            animation: none;

            html.has-menu-active & {
                animation: scaleup .5s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
                animation-delay: 0s;
            }
        }
    }
    
    &:nth-child(3) {
        color: $sage;
        font-family: $ff-accent;
        font-weight: $fw-100;
        font-size: calc($fs-huge + 10px);
        opacity: 0;
        animation: fadein 1s linear forwards;
        animation-delay: .5s;

        @include m.tableth {
            animation: none;

            html.has-menu-active & {
                animation: fadein 1s linear forwards;
                animation-delay: 0s;
            }
        }
    }
} 

h2 {
    font-size: $fs-2;
    line-height: 1;
    font-weight: 200;

    @include m.desktop-min {
        font-size: $fs-1;
    }

    @include m.mobile {
        margin-bottom: .5rem;
    }
}

p.subtitle {
    font-size: $fs-6;
    margin-bottom: 1.5rem;

    @include m.desktop-min {
        font-size: $fs-5;
    }
}

.hero-body {
    h1 {
        font-size: $fs-banner;
        line-height: 1.3;

        @include m.desktop {
            font-size: $fs-huge;
        }
        
        @include m.tablet {
            font-size: $fs-0;
        }
    }
}

.banner-title {
    &_wrapper {
        .banner-title_text {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            
            .char {
                @include m.tableth {
                    position: relative;
                    left: 20px;
                    opacity: 0;

                    html.has-menu-active & {
                        animation: slidein 1s ease-in-out forwards;
                        animation-delay: 0s;
                    }
                }

                @include m.tableth-min {
                    transform: translateY(90px);
                    transition: $transition3;
                }
            }
        }
    }    
}

@keyframes scaleup {
    to {
        transform: scale(1);
    }
}

@keyframes fadein {
    to {
        opacity: 1;
    }
}

@keyframes slidein {
    to {
        left: 0;
        opacity: 1;
    }
}