@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as m;

/* typgraphy */
body {
    color: $site-color;
    font-family: $ff-body;
    font-weight: $fw-200;
}

h1, h2, h3, h4, h5, h6, ul:not(.body-copy) {
    font-family: $ff-heading;
}

h2 {
    font-size: $fs-2;
    line-height: 1;

    @include m.desktop-min {
        font-size: $fs-1;
    }
}

p.subtitle {
    font-size: $fs-6;

    @include m.desktop-min {
        font-size: $fs-5;
    }
}

ul:not(.body-copy) {
    font-size: $fs-4;
    text-align: right;

    @include m.desktop-min {
        font-size: $fs-2;
    }
}

.hero-body {
    h1 {
        font-size: $fs-banner;
        line-height: 1.3;

        @include m.desktop {
            font-size: $fs-huge;
        }
        
        @include m.tablet {
            font-size: $fs-0;
        }
    }
}

.banner-title {
    display: flex;
    justify-content: center;

    &_wrapper {
        text-align: right;

        .banner-title_text {
            @include m.tableth-min {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                
                .line {
                    transform: translateY(190px);
                    transition: $transition3;
                }
            }

            &:first-of-type {
                padding-right: 11rem;
    
                @include m.tablet {
                    padding-right: 0;
                }
            }
        } 
    }    
}